/* General */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Fira+Sans:wght@500&display=swap');

body {
    background:  #C69749;
    margin: 0;
    height: 100vh;
    font-family: 'Fira Sans',sans-serif;
    color: #F4F5E8;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('/assets/images/floor-tile.png');
    opacity: 0.3;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

main {
    margin-top: 60px;
    text-align: center;
}

.container {
    max-width: 400px;
    background: #E151AF;
    margin: 0 auto;
    border: 2px solid #E8CE7E;
    padding: 100px;
    box-sizing: border-box;
}

.dropdown-btns {
    position: relative;
    display: flex;
    gap: 420px;

}

.about-btn {
    background-color: #E8CE7E;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Fira Sans',sans-serif;
    color: #F4F5E8;

}

.about-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.instruction {
    background-color: #E8CE7E;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Fira Sans',sans-serif;
    color: #F4F5E8;
}

.inst-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.about-btn:hover + .about-content,
.instruction:hover + .inst-content {
    display: block;
}

.bake {
    position: relative;
    background-color: #E8CE7E;
    color: #F4F5E8;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-family: 'Fira Sans',sans-serif;

}

.automate {
    position: relative;
    background-color: #E8CE7E;
    color: #F4F5E8;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-family: 'Fira Sans',sans-serif;
}

.automate:disabled {
    background-color: #3D393B;
    cursor: not-allowed;
}

.reset {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    background-color: #E8CE7E;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Fira Sans',sans-serif;
    color: #F4F5E8;
}

.about-btn,
.instruction,
.reset {
    touch-action: manipulation;
}
